# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Pytest cache
.pytest_cache/

# IDE files
.idea/
.vscode/

# Logs
*.log
logs/

# Database files
*.db
*.sqlite3
site.db

# Celery logs
/celerybeat-schedule
